[submodule "externals/bx"]
	path = externals/bx
	url = https://github.com/bkaradzic/bx
	branch = master
[submodule "externals/glm"]
	path = externals/glm
	url = https://github.com/g-truc/glm
[submodule "externals/stb"]
	path = externals/stb
	url = https://github.com/nothings/stb
[submodule "externals/nanovg"]
	path = externals/nanovg
	url = https://github.com/memononen/nanovg
[submodule "externals/nanovgvg-layers"]
	path = externals/nanovg-layers
	url = https://github.com/hugoam/nanovg
[submodule "externals/bimg"]
	path = externals/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "externals/bgfx"]
	path = externals/bgfx
	url = https://github.com/hugoam/bgfx
	branch = master
[submodule "externals/lua"]
	path = externals/lua
	url = https://github.com/lua/lua
[submodule "externals/nanovg-layers"]
	path = externals/nanovg-layers
	url = https://github.com/hugoam/nanovg
[submodule "externals/GENie"]
	path = externals/GENie
	url = https://github.com/hugoam/GENie
[submodule "externals/vg-renderer"]
	path = externals/vg-renderer
	url = https://github.com/hugoam/vg-renderer
[submodule "externals/FastNoise"]
	path = externals/FastNoise
	url = https://github.com/Auburns/FastNoise
[submodule "externals/pycgen"]
	path = externals/pycgen
	url = https://github.com/Celtoys/pycgen
[submodule "externals/amalgamate"]
	path = externals/amalgamate
	url = https://github.com/edlund/amalgamate
[submodule "externals/vorbis"]
	path = externals/vorbis
	url = https://github.com/xiph/vorbis
[submodule "externals/ogg"]
	path = externals/ogg
	url = https://github.com/xiph/ogg
[submodule "externals/glfw"]
	path = externals/glfw
	url = https://github.com/glfw/glfw
[submodule "externals/json11"]
	path = externals/json11
	url = https://github.com/dropbox/json11
[submodule "externals/wren"]
	path = externals/wren
	url = https://github.com/munificent/wren
[submodule "externals/fcontext"]
	path = externals/fcontext
	url = https://github.com/septag/deboost.context
[submodule "externals/tracy"]
	path = externals/tracy
	url = https://bitbucket.org/wolfpld/tracy.git
[submodule "externals/xatlas"]
	path = externals/xatlas
	url = https://github.com/jpcy/xatlas
[submodule "externals/meshoptimizer"]
	path = externals/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "externals/culling"]
	path = externals/culling
	url = https://github.com/hugoam/MaskedOcclusionCulling
[submodule "externals/tinystl"]
	path = externals/tinystl
	url = https://github.com/hugoam/tinystl
